name: Issue Mirror to GitLab

on:
  issues:
    types: [opened]
  workflow_dispatch: 

jobs:
  mirror-to-gitlab:
    runs-on: ubuntu-latest
    steps:
      - name: Mirror Issue
        run: |
          curl --request POST \
            --header "PRIVATE-TOKEN: ${{ secrets.BOT }}" \
            --header "Content-Type: application/json" \
            --data '{
              "title": "${{ github.event.issue.title }}",
              "description": "${{ github.event.issue.body }}\\n\\nMirrored from GitHub #${{ github.event.issue.number }} by ${{ github.event.issue.user.login }}: ${{ github.event.issue.html_url }}",
              "labels":${{ format('["{0}"]', join(github.event.issue.labels.*.name, '","')) }}

            }' \
            "https://git.gfz.de/api/v4/projects/${{secrets.GITLAB_PID}}/issues"
