name: Issue Mirror to GitLab

on:
  issues:
    types: [opened]
  workflow_dispatch: 

jobs:
  mirror-to-gitlab:
    runs-on: ubuntu-latest
    steps:
      - name: Mirror Issue
        run: |
            jq -n \
            --arg title "${{ github.event.issue.title }}" \
            --arg body "${{ github.event.issue.body }}" \
            --arg number "${{ github.event.issue.number }}" \
            --arg user "${{ github.event.issue.user.login }}" \
            --arg url "${{ github.event.issue.html_url }}" \
            --argjson labels '${{ format('["{0}"]', join(github.event.issue.labels.*.name, '","')) }}' \
            '{
                title: $title,
                description: ($body + "\n\nMirrored from GitHub #" + $number + " by " + $user + ": " + $url),
                labels: $labels
            }' | \
            curl -X POST \
            -H "PRIVATE-TOKEN: ${{ secrets.BOT }}" \
            -H "Content-Type: application/json" \
            --data @- \
            "https://git.gfz.de/api/v4/projects/${{ secrets.GITLAB_PID }}/issues"
